body{
    margin: 0;
    height: 150vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 400px 1fr 100px;

    grid-template-areas: 
    "nav nav"
    "aside hero"
    "aside main"
    "footer footer";
}


nav{
    grid-area: nav;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    
}

nav img {
    width: 100px;
    height: auto;

}


.nav-btns button {
    padding: 8px;
    color: #ad7949;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    /* color: white; */
    font-size: large;
    cursor: pointer;
}


  

.hero{
    grid-area: hero;
    display: flex;
    justify-content: center;
    background-image:url("./roma-modular-sofa-living-hero.jpg");
    background-position: center;
    background-size: cover; 
}

.hero img{
    width: 100%;
}
aside{
    grid-area: aside;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    padding-top: 50px;
    gap: 20px;
   
   
}

aside div {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        width: 200px;
        
}
    
aside div:hover {
        background-color: #e3cd9e;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
}


main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    justify-items: center;
}

.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
   
}
.list-container{
    font-size: 14px;
  

}

.chat img {
    position: fixed;
    width: 50px; 
    height: auto;
} 

.chat{
    position: fixed;
    left:10px;
    bottom: 60px;
    z-index: 1;
}

footer{
    grid-area: footer;
    text-align:center; 
    background-color:#e3cd9e ;
    
} 
.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 900px){
    aside p{
        display: none;
    }
    aside div{
        width: fit-content;
    }
    body{
        grid-template-columns: 50px 1fr;
    }
}
@media screen and (max-width: 680px){
    main{
        grid-template-columns: repeat(1, 1fr);
    }
}